<script type="text/javascript" src="<%= url("/assets/run.js") %>"></script>
<% if @test %>
<script type="text/javascript" src="<%= url("/assets/" + @test.asset_path) %>"></script>
<% else %>
  <% @suite.tests.each do |test| %>
    <script type="text/javascript" src="<%= url("/assets/" + test.asset_path) %>"></script>
  <% end %>
<% end %>

<div id="page">
  <h1 id="qunit-header">Everqueen</h1>
  <h2 id="qunit-banner"></h2>
  <div id="qunit-testrunner-toolbar"></div>
  <h2 id="qunit-userAgent"></h2>
  <ol id="qunit-tests"></ol>
  <div id="qunit-fixture">test markup, will be hidden</div>
  <a class="back" href="<%= url("/") %>">Back to list</a>
</div>

<script type="text/javascript" src="<%= url("/assets/start.js") %>"></script>
