<div id="page">
  <h1>Evergreen</h1>
  <a class="back" href="<%= url("/") %>">Back to list</a>
</div>

<div id="test"></div>

<script type="text/javascript">
  // <![CDATA[
head.js("<%= url("/jasmine/jasmine.js") %>", "<%= url("/jasmine/jasmine-html.js")%>", "<%= url("/resources/evergreen.js") %>", "<%= url("/helpers.js") %>", function() {console.log("evergreen requires required.");});
<% begin %>
head.ready(function() {
  <%= @spec.read %>;
  head.ready(function() {
    Evergreen.driver = <%= Evergreen.driver.to_json %>;
    <% @suite.templates.each do |template| %>
      Evergreen.templates[<%= template.name.to_json %>] = <%= template.read.to_json %>;
    <% end %>
    var jasmineEnv = jasmine.getEnv();
    jasmineEnv.addReporter(new jasmine.TrivialReporter());
    jasmineEnv.addReporter(new Evergreen.ReflectiveReporter());
    jasmineEnv.execute();
  });
});
<% rescue StandardError => e %>
  describe("Spec Rendering", function() {
    it("should not fail when compiling", function() {
      throw(<%= "#{e.class}: #{e.message}".to_json %>);
    });
  });
<% end %>

  // ]]>
</script>
