<script type="text/javascript" src="<%= url("/assets/jquery.js") %>"></script>
<script type="text/javascript" src="<%= url("/assets/list.js") %>"></script>
<div id="page">
  <h1>Everblue</h1>

  <div id="all">
    <a class="all" href="<%= url('/run/all') %>">All</a>
    <a class="run" href="<%= url('/run/all') %>">Run</a>
  </div>

  <ul id="tests">
    <% @suite.tests.each do |test| %>
      <li>
        <a href="<%= test.url %>"><%= test.name %></a>
        <a class="run" href="<%= test.url %>">Run</a>
      </li>
    <% end %>
  </ul>
</div>
